<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bharatcart">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/bharatcart_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bharatcart_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".thankyou"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".navactivity"
            android:label="@string/title_activity_navactivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashscreen_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginpage_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".otppage_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".listpage_activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home_page_activity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <!--<compatible-screens>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="large" />
    </compatible-screens>-->

</manifest>